<a class="apps__app" href="https://at.linkedin.com/company/jc-development-ag" data-aos="fade-up" target="_blank">
  <div class="apps__app__inner">
    <img src="{{asset "/img/linkedin.jpg"}}" class="apps__app__img" alt="LinkedIn" />
  </div>
  <div class="apps__app__label">LinkedIn</div>
</a>

<a class="apps__app" href="tel:+41555254699" data-aos="fade-up">
  <div class="apps__app__inner">
    <img src="{{asset "/img/phone.jpg"}}" class="apps__app__img" alt="Telefon" />
  </div>
  <div class="apps__app__label">Telefon</div>
</a>

<a class="apps__app" href="https://www.youtube.com/channel/UCmxX9PxpXvSL9gk8BiHrl9g/featured" data-aos="fade-up" target="_blank">
  <div class="apps__app__inner">
    <img src="{{asset "/img/youtube.jpg"}}" class="apps__app__img" alt="YouTube" />
  </div>
  <div class="apps__app__label">YouTube</div>
</a>

<a class="apps__app" href="mailto:office@jcd.swiss" data-aos="fade-up">
  <div class="apps__app__inner">
    <img src="{{asset "/img/mail.jpg"}}" class="apps__app__img" alt="E-Mail" />
  </div>
  <div class="apps__app__label">E-Mail</div>
</a>
