{{!< default}}

<video class="bg-video" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" src="{{ site.url }}/assets/img/schwalbe.mp4"></video>
<script>
  (() => {
    const video = document.querySelector("video");
    video.playbackRate = 0.4;
    document.addEventListener('mousemove', (e) => {
      window.requestAnimationFrame(() => {
        const x = Math.sin(e.pageX / window.innerWidth * Math.PI);
        const rotate = 45 * (1 - x);
        const brightness = 70 + x * 30;
        video.style.filter = `hue-rotate(${rotate}deg) brightness(${brightness}%)`;
      });
    });
  })();
</script>
<script src="{{asset "/js/object-fit-videos.min.js"}}" defer async onload="objectFitVideos();"></script>

<div class="headline">
  <h1 class="headline__h1">Sie bauen mit System.</h1>
  <h2 class="headline__h2">Planen Sie auch mit System.</h2>
</div>

<div class="apps">
  {{#get "pages" filter="featured:true" include="tags" limit="2"}}
    {{#foreach pages}}
      {{> "home-work"}}
    {{/foreach}}
  {{/get}}

  {{#get "posts" filter="featured:true" include="tags" limit="3"}}
    {{#foreach posts}}
      {{> "home-work"}}
    {{/foreach}}
  {{/get}}

  <a class="apps__app" href="services.html" data-aos="fade-up">
    <div class="apps__app__inner">
      <img src="{{asset "/img/LI-Logo.png"}}" class="apps__app__img apps__app__img--contain" />
    </div>
    <div class="apps__app__label">LinkedIn</div>
  </a>
</div>
