{{!< default}}

{{#post}}

{{> "post-title"}}

<div class="apps">
  {{#get "posts" filter="primary_tag:service" include="tags"}}
    {{#foreach posts}}
      {{> "app"}}
    {{/foreach}}
  {{/get}}
</div>

{{{content}}}

{{/post}}


